/* Changing img size since it's way too big, not in main.js for separation of concerns */
img {
    width: 250px;
    height: 250px;
}

/* Class given to the li elements by main.js */
.list-item {
    /* Styled as per instructions */
    color: white;
    font-weight: bold;
    background-color: orangered;
}