html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General page style */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #feeefe;
    text-align: center;
}

h1 {
    color: #aa3333;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    width: fit-content;
    margin-left: 20px;
}

/* General stack containers */
.stack-container {
    margin: 20px auto;
    position: relative;
    float: left;
    height: auto;
    
}

.dirty-stack, .clean-stack {
    display: inline-block;
    border: 1px solid #cccccccc;
    padding: 10px;
    width: 220px; /* Adjust as needed */
    background-color: #ffffff;
    vertical-align: top; /* So as the stacks empty they shrink upwards */
    text-align: center; /* Inherited by the dish divs */
    font-size: 2em;
}

.dirty-stack {
    margin-right: 20px; /* Add space between stacks */
}

.dirty-stack:first-of-type {
    margin-left: 20px; /* So the space from the side of the window is the same
    as the one bewtween dirty stacks */
}

/* Style for list items to look like dishes */
.dirty-stack li, .clean-stack li {
    display: inline-block;
    font-size: 0.5em; /* 1em from halving the inherited 2em */
    margin: 0 auto; /* Space between dishes */
    border: 1px solid #ccc; /* Border to define dish boundaries */
    border-radius: 50%; /* Makes the dish circular */
    width: 80px; /* Width of the dish */
    height: 30px; /* Height of the dish, making it ellipse-shaped */
    background-color: #eee; /* Light grey color for the dish */
    line-height: 25px;
}

.dirty-stack li {
    background-color: #ffedcf; /* Dirty dish color */
}

.dirty-stack li::before {
    content: ' '; /* No text, just for the shapes */
    display: inline-block;
    /* Circle size */
    width: 15px;
    height: 15px;
    background: #47553e; /* Dirt circle color */
    border-radius: 50%; /* Makes the pseudoelement a circle */
    margin-right: 5px; /* Space between circle and div's text content */
}