html {
  background-color: #ffddee;
  margin: 24px;
}

p,
li,
h1 {
  color: #333333;
}

#funnyspace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: #333333;
}

#joke {
  font-size: 1.5em;
  color: #ffddee;
  padding: 12px;
}

#error {
  font-size: 1.5em;
  color: red;
}
