html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General page style */

body {
    background-color: #262127;
    color: rgb(252, 217, 217);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 1em;
}

ul, li, h1 {
    text-align: center;
    margin: 0 auto;
}

li {
    display: inline-block;
    max-width: 200px;
    max-height: 400px;
    padding: 0 2em 0 2em;
}

li img {
    margin-top: 3px;
    margin-bottom: 3em;
    border-width: 2px;
    border-style: dotted !important; /* Using terrible practices
    to bandaid fix terrible practices, in this case 
    styling directly through javascript dom's style properties */
    max-height: 200px;
}

/* Restyled page through classes and ids added by js */

#restyled-body {
    background: rgb(112,71,120);
    background: radial-gradient(circle, rgba(112,71,120,1) 0%, rgba(149,107,149,1) 57%);
}

body li .restyled-cover {
    border-width: 5px !important;
    border-style: outset !important; /* Using the terrible practice again
    to bandaid fix terrible practices stacking, in this case 
    styling directly through javascript dom's style properties and then
    "fixing" it by using !important */
}