html {
    box-sizing: border-box;
    height: 100%; /* So the background image doesn't cut off upon horizontal viewport shrink */
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General page style */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://images.pexels.com/photos/8828034/pexels-photo-8828034.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Header style */
header {
    background-color: #554488;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

/* Container for tab navigation */
.tab-container {
    text-align: center;
    margin: 1rem 0;
}

/* Style for each tab button */
.tab-button {
    display: inline-block; /* Display tab buttons in a row */
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease;
}

/* Active tab style */
.tab-button.active {
    background-color: #554488;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

/* Tab content styling */
.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Active tab content style */
.tab-content.active {
    display: block;
    opacity: 1;
}

/* Flight table style */
table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
}

/* Table header style */
th {
    font-size: 1.2rem;
    background-color: #ddbbdd;
}

/* Table cells style */
th, td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Table cell style for flight data */
#flight-table td {
    background-color: #ffeeff;
}

/* Flight status styling */
.status-departing {
    color: blue;
}

.status-delayed {
    color: red;
}

.status-on_time {
    color: green;
}

.status-arrived {
    color: grey;
}

/* Row expansion styles */
tr.open {
    background-color: #f9f9f9;
}

tr.open td {
    background-color: #ffffff;
}

/* Transition effect for smooth expansion/collapse */
tr {
    transition: background-color 0.3s ease;
}

/* Fade-in effect for sections when switching tabs */
.tab-content.fade-in {
    opacity: 0;
    display: block;
    transition: opacity 0.5s ease-in;
}

.tab-content.fade-in.show {
    opacity: 1;
}

.tab-content.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.tab-content.fade-out.hide {
    opacity: 0;
}

/* Additional styling for the active state of expanded rows */
tr.open td {
    background-color: #ffffff;
}

/* Hover effect for table rows */
#flight-table tr:hover {
    background-color: #f5f5f5;
}

/* Style for the arrival/departure tab container */
#tab-container {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center align the tab buttons */
}

/* Style for the tab buttons (Arrivals and Departures) */
#tab-container .tab-button {
    display: inline-block; /* Inline-block for horizontal alignment */
    padding: 10px; /* Padding inside buttons */
    text-align: center; /* Center align text */
    cursor: pointer; /* Pointer cursor on hover */
    background-color: #ddd; /* Default background color */
    border: 1px solid #ccc; /* Border around buttons */
    border-radius: 4px; /* Rounded corners */
    margin: 0 5px; /* Spacing between buttons */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Active tab button styling */
#tab-container .tab-button.active {
    background-color: #995599; /* Active button background color */
    color: #ffffff; /* Active button text color */
    border-bottom: 1px solid #ffffff; /* Border bottom for active button */
}

td:hover {
    cursor: pointer;
}