html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General page style */

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://images.pexels.com/photos/8828034/pexels-photo-8828034.jpeg);
    background-size: cover;
}

header {
    background-color: #554488;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

#flight-table {
    width: 100%;
    background-color: #ffffff;
}

th {
    font-size: 1.2rem;
    background-color: #ddbbdd;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#flight-table td {
    background-color: #ffeeff;
}

.status-departing {
    color: blue;
}

.status-delayed {
    color: red;
}

.status-on_time {
    color: green;
}

.status-arrived {
    color: grey;
}