html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* General page style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #feeefe;
}

/* General h1 styling */
h1 {
    color: #3d2a51;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 20px 0;
}

ul {
    list-style-type: none; /* Removing bullet points */
    padding: 0;
    font-size: 1.2em;
}

li {
    margin: 10px 0;
    padding: 30px;
    border-radius: 5px;
    border-bottom: 1px solid #3d2a51;
}


/* To showcase how the unordered lists are separate */
.car {
    margin-bottom: 20px;
    background-color: #00ff0050;
}

.factory {
    background-color: #ff000050;
}